.Rproj.user
.Rhistory
.RData
.Ruserdata
# Don't share results/data/etc
data
results
*.png
*.csv
*.xlsx
*.pdf
_targets
R/capacity_table.R
forecast
historical_inputs

_long
.debug
*.rds
outputs/
_targets_auto_tmp.R
